{% extends 'base.html.twig' %}

{% block body %}
<h1>Mon Profile {{app.user.nom}} {{app.user.prenom}}</h1>
	<ul>
		<li><b>nom :</b>{{app.user.nom}}</li>
		<li><b>prenom :</b>{{app.user.prenom}}</li>
		<li><b>nom mere :</b>{{app.user.nomMere}}</li>
		<li><b>prenom mere :</b>{{app.user.prenomMere}}</li>
		<li><b>adresse :</b>{{app.user.adresse}}</li>
		<li><b>code postal :</b>{{app.user.codePostal}}</li>
		<li><b>telephone :</b>{{app.user.telephone}}</li>
		<li><b>username :</b>{{app.user.username}}</li>
		<li><b>email :</b>{{app.user.email}}</li>
		<li><b>type :</b>{{app.user.typeUser|upper}}</li>
		<li><b>derniere connexion :</b>{{app.user.lastLogin|date('Y-m-d')}}</li>
		<li>
			<b>Liste de mes enfants dans l'ecole</b>
			<ul>
				{% for eleve in app.user.eleves %}
					<li>{{eleve.nom}} {{eleve.prenom}}</li>
				{% endfor %}
			</ul>
		</li>
	</ul>
	
	
{% endblock %}