{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<h1>{% if edit %}{{'edit'|trans}}{% else %}{{'add'|trans}}{% endif %} {{'admin'|trans}}</h1>
<div class="container">
	{{ form_start(form) }}
		<div class="form-group">
			{{ form_label(form.photo) }}
		    {{ form_widget(form.photo ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.photo) }}
		</div>
		<div class="form-group">
			{{ form_label(form.nom) }}
		    {{ form_widget(form.nom ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.nom) }}
		</div>
		<div class="form-group">
			{{ form_label(form.prenom) }}
		    {{ form_widget(form.prenom ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.prenom) }}
		</div>
		<div class="form-group">
			{{ form_label(form.genre) }}
		    {{ form_widget(form.genre ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.genre) }}
		</div>
		<div class="form-group">
			{{ form_label(form.dateDeNaissance) }}
		    {{ form_widget(form.dateDeNaissance ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.dateDeNaissance) }}
		</div>
		<div class="form-group">
			{{ form_label(form.lieuDeNaissance) }}
		    {{ form_widget(form.lieuDeNaissance ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.lieuDeNaissance) }}
		</div>
		<div class="form-group">
			{{ form_label(form.cIN) }}
		    {{ form_widget(form.cIN ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.cIN) }}
		</div>
		<div class="form-group">
			{{ form_label(form.adresse) }}
		    {{ form_widget(form.adresse ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.adresse) }}
		</div>
		<div class="form-group">
			{{ form_label(form.codePostal) }}
		    {{ form_widget(form.codePostal ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.codePostal) }}
		</div>
		<div class="form-group">
			{{ form_label(form.telephone) }}
		    {{ form_widget(form.telephone ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.telephone) }}
		</div>
		<div class="form-group">
			{{ form_label(form.commentaire) }}
		    {{ form_widget(form.commentaire ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.commentaire) }}
		</div>
		<div class="form-group">
			{{ form_label(form.email) }}
		    {{ form_widget(form.email ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.email) }}
		</div>
		<div class="form-group">
			{{ form_label(form.username) }}
		    {{ form_widget(form.username ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.username) }}
		</div>
	{% if edit==false %}
		<div class="form-group">
			{{ form_label(form.plainPassword.first) }}
		    {{ form_widget(form.plainPassword.first ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.plainPassword.first) }}
		</div>
		<div class="form-group">
			{{ form_label(form.plainPassword.second) }}
		    {{ form_widget(form.plainPassword.second ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.plainPassword.second) }}
		</div>
	{% else %}
	{% do form.plainPassword.setRendered %}
	{% endif %}	
		<button type="submit">Valider</button>
	{{ form_end(form) }}
</div>
</div>
{% endblock %}