<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'navbar.dropdown.dropdown2'|trans}} <span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li class=""><a href="{{ path('addEnseignant') }}">{{'navbar.link.link3'|trans}}<span class="sr-only"></span></a></li>
  <li class=""><a href="{{ path('listEnseignants') }}">{{'navbar.link.link4'|trans}}<span class="sr-only"></span></a></li>
 </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'navbar.dropdown.dropdown3'|trans}} <span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li class=""><a href="{{ path('addEleve') }}">{{'navbar.link.link5'|trans}}<span class="sr-only"></span></a></li>
  <li class=""><a href="{{ path('listEleves') }}">{{'navbar.link.link6'|trans}}<span class="sr-only"></span></a></li>
</ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'navbar.dropdown.dropdown4'|trans}} <span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li class=""><a href="{{ path('addParental') }}">{{'navbar.link.link7'|trans}}<span class="sr-only"></span></a></li>
  <li class=""><a href="{{ path('listParentals') }}">{{'navbar.link.link8'|trans}}<span class="sr-only"></span></a></li>
</ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'Classes'|trans}} <span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li class=""><a href="{{ path('addClasse') }}">{{'ajouter classe'|trans}}<span class="sr-only"></span></a></li>
  <li class=""><a href="{{ path('listClasses') }}">{{'list des classes'|trans}}<span class="sr-only"></span></a></li>
</ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'Salles'|trans}} <span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li class=""><a href="{{ path('addSalle') }}">{{'ajouter salle'|trans}}<span class="sr-only"></span></a></li>
  <li class=""><a href="{{ path('listSalles') }}">{{'list des salles'|trans}}<span class="sr-only"></span></a></li>
</ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'Transports'|trans}} <span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li class=""><a href="{{ path('addTransport') }}">{{'ajouter tansport'|trans}}<span class="sr-only"></span></a></li>
  <li class=""><a href="{{ path('listTransports') }}">{{'list des tansports'|trans}}<span class="sr-only"></span></a></li>
</ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'Menus'|trans}} <span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li class=""><a href="{{ path('addMenu') }}">{{'ajouter menu'|trans}}<span class="sr-only"></span></a></li>
  <li class=""><a href="{{ path('listMenus') }}">{{'list des menus'|trans}}<span class="sr-only"></span></a></li>
</ul>
</li>
<li class=""><a href="{{ path('mySchool') }}">{{'navbar.link.link16'|trans}}<span class="sr-only"></span></a></li>
