<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'navbar.dropdown.dropdown1'|trans}} <span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li class=""><a href="{{ path('addAdmin') }}">{{'navbar.link.link1'|trans}}<span class="sr-only"></span></a></li>
  <li class=""><a href="{{ path('listAdmins') }}">{{'navbar.link.link2'|trans}}<span class="sr-only"></span></a></li>
</ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'navbar.dropdown.dropdown5'|trans}} <span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li class=""><a href="{{ path('addSchool') }}">{{'navbar.link.link9'|trans}}<span class="sr-only"></span></a></li>
  <li class=""><a href="{{ path('listSchools') }}">{{'navbar.link.link10'|trans}}<span class="sr-only"></span></a></li>
</ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'navbar.dropdown.dropdown6'|trans}} <span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li class=""><a href="{{ path('addMatiere') }}">{{'navbar.link.link14'|trans}}<span class="sr-only"></span></a></li>
  <li class=""><a href="{{ path('listMatieres') }}">{{'navbar.link.link15'|trans}}<span class="sr-only"></span></a></li>
</ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'navbar.dropdown.dropdown7'|trans}} <span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li class=""><a href="{{ path('addAnnee') }}">{{'navbar.link.link17'|trans}}<span class="sr-only"></span></a></li>
  <li class=""><a href="{{ path('listAnnees') }}">{{'navbar.link.link18'|trans}}<span class="sr-only"></span></a></li>
</ul>
</li>