{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.tagsinput.css') }}" />
{% endblock %}

{% block body %}
<div class="container">
<h1>{% if edit %}{{'edit'|trans}}{% else %}{{'add'|trans}}{% endif %} {{'classe'|trans}}</h1>
<div class="container">
	{{ form_start(form) }}
		<div class="form-group">
			{{ form_label(form.nom) }}
		    {{ form_widget(form.nom ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.nom) }}
		</div>
		<div class="form-group">
			{{ form_label(form.annee) }}
		    {{ form_widget(form.annee ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.annee) }}
		</div>
		<div class="form-group">
			{{ form_label(form.description) }}
		    {{ form_widget(form.description ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.description) }}
		</div>
		<div class="form-group">
			{{ form_label(form.responsable) }}
		    {{ form_widget(form.responsable ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.responsable) }}
		</div>
		<button type="submit">Valider</button>
	{{ form_end(form) }}
</div>
</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/jquery.tagsinput.js') }}"></script>
	<script>
		msg_add_tag="{{'global.add_tag'|trans()}}";
    	$('.tags').tagsInput({width:'100%', 'defaultText':msg_add_tag});
	</script>
{% endblock %}