<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% if (app.request.locale == 'ar') %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-flipped.css">
        {% endif %}
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ path('homepage') }}">Schoolium{% if app.user %}|{{app.user.typeUser|upper}}{% endif %}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                      {% include('adminsViews/admin.html.twig') %}
                    {% elseif 'ROLE_ENSEIGNANT' in app.user.roles %}
                      {% include('enseignantsViews/enseignant.html.twig') %}
                    {% elseif 'ROLE_ELEVE' in app.user.roles %}
                      {% include('elevesViews/eleve.html.twig') %}
                    {% elseif 'ROLE_PARENT' in app.user.roles %}
                      {% include('parentsViews/parent.html.twig') %}
                    {% elseif 'ROLE_SUPER_ADMIN' in app.user.roles %}
                      {% include('adminsViews/superAdmin.html.twig') %}
                    {% endif %}
                    <li class=""><a href="{% if app.user.typeUser == 'Admin' %}{{ path('myProfileAdmin') }}{% elseif app.user.typeUser == 'Enseignant' %}{{ path('myProfileEnseignant') }}{% elseif app.user.typeUser == 'Eleve' %}{{ path('myProfileEleve') }}{% elseif app.user.typeUser == 'Parent' %}{{ path('myProfileParental') }}{% endif %}">{{'navbar.link.link11'|trans}}<span class="sr-only"></span></a></li>
                {% endif %}
              </ul>
              <ul class="nav navbar-nav navbar-right">
              {% if app.user %}
                <li><a href="{{ path('fos_user_security_logout') }}">{{'navbar.link.link12'|trans}}</a></li>
              {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">{{'navbar.link.link13'|trans}}</a></li>
              {% endif %}
              <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-globe"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"><img src="{{asset('img/francais.png')}}" alt=""></a></li>
                      <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ar'})) }}"><img src="{{asset('img/arab.png')}}" alt=""></a></li>
                  </ul>
                  </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        {% block body %}{% endblock %}
        <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% block javascripts %}
        {% endblock %}

    </body>
</html>
