{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<h1>{% if edit %}{{'edit'|trans}}{% else %}{{'add'|trans}}{% endif %} {{'annee'|trans}}</h1>
<div class="container">
	{{ form_start(form) }}
		<div class="form-group">
			{{ form_label(form.nom) }}
		    {{ form_widget(form.nom ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.nom) }}
		</div>
		<div class="form-group">
			{{ form_label(form.niveau) }}
		    {{ form_widget(form.niveau ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.niveau) }}
		</div>
		<div class="form-group">
			{{ form_label(form.specialite) }}
		    {{ form_widget(form.specialite ,{ 'attr': {'class': 'form-control'} }) }}
		    {{ form_errors(form.specialite) }}
		</div>
		<button type="submit">Valider</button>
	{{ form_end(form) }}
</div>
</div>
{% endblock %}