{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	{{ form_start(form) }}
		<div class="form-group">
			{{ form_label(form.eleve) }}
		    {{ form_widget(form.eleve) }}
		    {{ form_errors(form.eleve) }}
		</div>
		<div class="form-group">
			{{ form_label(form.date) }}
		    {{ form_widget(form.date) }}
		    {{ form_errors(form.date) }}
		</div>
		<div class="form-group">
			{{ form_label(form.commentaire) }}
		    {{ form_widget(form.commentaire) }}
		    {{ form_errors(form.commentaire) }}
		</div>
		
		<button type="submit">Chercher</button>
	{{ form_end(form) }}
</div>

{% endblock %}